<div class="row">
  <div class="col-xs-12">
    <h2 class="tittle">Produção de leite</h2>
    <h3 class="tittle">{{caddle.number}} {{ caddle.name }}</h3>
    <ul class="list-group" *ngFor="let mProd of caddle.milkProductions">
        <li class="list-group-item" style="cursor: auto;">
          Data: {{ mProd.date }} <br>
          Quantidade: {{ mProd.quantity }}
        </li>
    </ul>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Opções <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onEditCaddle()" style="cursor: pointer;">Editar</a></li>
        <li><a (click)="onDeleteCaddle()" style="cursor: pointer;">Deletar</a></li>
      </ul>
    </div>
  </div>
</div>
