<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="milkProductionForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="!milkProductionForm.valid">Salvar</button>
            <span style="display:inline-block; width: 5px;"></span>
            <button class="btn btn-danger" type="button" (click)="onCancel()">Cancelar</button>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="date">Data</label>
              <input type="date" id="date" formControlName="date" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="quantity">Quantidade</label>
                <input type="number" step="0.01" id="quantity" formControlName="quantity" class="form-control">
              </div>
            </div>
          </div>
  
      </form>
    </div>
  </div>